<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <div class="social-links">
          {%- include social.html -%}
        </div>

      </div>
      
    </div>
  </div>
  <!-- <div class="footer-col  footer-col-3">
    <p class="text" align="center" style="opacity: 0.5; font-size:13px">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
  </div> -->

</footer>
