 {%- assign social = site.minima.social_links -%}

 <style>
  .social-media-list a {
    color: black;
    text-decoration: none;
  }
  
  .social-media-list a:hover {
    color: #2a7ae2;
  }
</style>

 <ul class="social-media-list">
   {%- if social.email -%}<span><a href="mailto:{{ social.email }}" target="_blank"> <i class="fas fa-envelope" style="font-size: 50px;"></i> </a> &nbsp; </span>{%- endif -%}
   {%- if social.github -%}<span><a href="https://github.com/{{ social.github }}" target="_blank"> <i class="fab fa-github" style="font-size: 50px;"></i> </a> &nbsp; </span>{%- endif -%}
   {%- if social.gscholar -%}<span><a href="https://scholar.google.com/citations?user={{ social.gscholar }}=en" target="_blank"> <i class="ai ai-google-scholar" style="font-size: 50px;"></i> </a> &nbsp; </span>{%- endif -%}
   {%- if social.linkedin -%}<span><a href="https://www.linkedin.com/in/{{ social.linkedin }}" target="_blank"> <i class="fab fa-linkedin" style="font-size: 50px;"></i> </a> &nbsp; </span>{%- endif -%}
   {%- if social.twitter -%}<span><a href="https://twitter.com/{{ social.twitter }}" target="_blank"> <i class="fab fa-twitter" style="font-size: 50px;"></i> </a> </span>{%- endif -%}
 </ul>
