// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.my-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4px 11px;
    border: 1px solid #7d49a8;
    border-radius: 24px;
    background: #7d49a8;
    font: 300 18px Roboto;
    color: #ffffff;
    text-decoration: none;
}
.my-button:hover,
.my-button:focus {
    // border: 1px solid #95bcdf;
    background: #bc79fa;
    color: #ffffff;
    text-decoration: none;
}
.my-button:visited {
    color: #ffffff;
    text-decoration: none;
}
.my-button:before{
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
}

.note {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
}